name: message to slack

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: comfuture/actions/slack@master
      id: greet
      with:
        args:
        - chat
        - send
        - Hello 1 
        - "#general"
      env:
        SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
    - uses: comfuture/actions/writefile@master
      with:
        filename: args.txt
        content: |
          chat update 'ok, bye' ${{ steps.greet.outputs.message_ts }} '#general'
    - run: sleep 3
    - uses: comfuture/actions/slack@master
      with:
        args: file upload args.txt "#general" --title "Recent file"
      env:
        SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
    - uses: comfuture/actions/slack@master
      with:
        args: chat update 'ok,bye' ${{ steps.greet.outputs.message_ts }} '#general'
      env:
        SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
