name: message to slack

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: comfuture/actions/slack@master
      with:
        channel: general
        message: Hello world! 안녕, 세계!
        attachments: >
          - pretext: 상태
            color: good
            fields:
            - title: Kubernetes
              value: Everything OK
              short: false
      env:
        SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
    - uses: comfuture/actions/slack@master
      id: hello
      with:
        channel: general
        message: Hello?
      env:
        SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
    - run: sleep 3
    - uses: comfuture/actions/slack@master
      with:
        channel: general
        message: Bye~
        update: ${{ steps.hello.outputs.ts }}
      env:
        SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
