name: message to slack

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: comfuture/actions/slack@master
      id: greet
      with:
        args: chat send "Hello" "#general"
      env:
        SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
    - run: sleep 3
    - uses: comfuture/actions/slack@master
      with:
        args: chat update "ok, bye" "#general" --timestamp ${{ steps.greet.outputs.message_ts }}
